{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>SAE303</title>
</head>
<body>
    {% include 'header.html.twig' %}
<br><br><br><br><br>
    <h1 class=h1_home">Bienvenue sur votre application</h1>
</body>
</html>
