{# templates/connexion/_form.html.twig #}
    <div class="container-login" id="container">
        <div class="form-container sign-up-container">
            <form action="#" class="form-login">
                <h1 class="h1-login">Créer un compte</h1>
                <input type="email" placeholder="Email" required>
                <button class="btn-login">S'inscrire</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" class="form-login">
                <h1 class="h1-login">Se connecter</h1>
                <input type="number" pattern="\d+(\.\d+)?" placeholder="Numéro d'identification">
                <input type="password" placeholder="Password">
                <p class="mdp_reset"><a href="#">Mot de passe oublié ?</a></p>
                <button class="btn-login">Se connecter</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenue !</h1>
                    <p class="p-login">Commencez votre aventure en créant un compte.</p>
                    <button class="press btn-login" id="signIn">Se connecter</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bon retour</h1>
                    <p class="p-login">Connectez-vous avec votre compte.</p>
                    <button class="press btn-login" id="signUp">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
