body {
    font-family: 'Jost' , sans-serif;
    margin: 0;
    padding: 0;
}

.header-container-head {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: top 0.3s;   
}

.header-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.h1_home {
margin-top : 56px;
margin-left: 200px; 
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

/* Ajoutez ces styles dans votre fichier styles.css ou un autre fichier de styles que vous utilisez */

/* Style pour le label du champ de choix */
.form-label {
    font-size: 1rem;
    color: #3498db; /* Couleur bleue */
    margin-bottom: 8px;
    display: block;
}

/* Style pour le champ de choix lui-même */
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #3498db; /* Bordure bleue plus épaisse */
    border-radius: 8px; /* Coins arrondis */
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #ecf0f1; /* Couleur de fond gris pâle */
    color: #555; /* Couleur du texte plus sombre */
    transition: border-color 0.3s ease; /* Animation de transition pour la bordure */
}

/* Effet de survol pour le champ de choix */
.form-select:hover {
    border-color: #2980b9; /* Changement de couleur de bordure au survol */
}

/* Style pour les options du champ de choix */
.form-select option {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .header-head {
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        text-align: center;
    }

    nav li {
        margin: 0;
    }
}
