<div class="header-container-head">
        <header class="header-head">
                    <a href="{{ path('home') }}"><img src="{{ asset('imgs/logo.svg') }}" alt="logo" class="logo"></a>
            <nav>
                <ul>
                       <li><a href="{{ path('connexion') }}">Connexion | Inscription</a></li>
                </ul>
            </nav>
        </header>
    </div>
